<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gw.smstransimit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" ></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.gw.smstransmit.main.MainActivity"
            android:label="@string/app_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <!-- receiver -->
        <receiver
            android:name="com.gw.smstransmit.broadcast.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="oem.permission.SENDMAIL" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        
        <!-- service -->
        <service
            android:name="com.gw.smstransmit.service.SMSService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/sms_name"
            android:permission="oem.permission.SENDMAIL" >
            <intent-filter android:priority="1000" >
                <action android:name="com.gw.smstransmit.action.service.SMSService" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>
        
    </application>

</manifest>
